HEARTHPULSE_BACKUP_DIR=/var/backups/hearthpulse
HEARTHPULSE_BACKUP_PASSPHRASE_FILE=/etc/hearthpulse/backup-passphrase
HEARTHPULSE_BACKUP_KEEP=3
SERVER_DATA_DIR=/var/www/koloda/data/www/hs-arena.ru/shared/server-data
ECOSYSTEM_DIR=/var/lib/manacost-ecosystem
